<h1>My profile</h1>
<p>Welcome {{ user.userName }}!</p>
<p>{{ user.userEmail }}</p>
<img src="{{ user.image }}"><br />
<p>{{ user.location }} &nbsp; | &nbsp; {{ user.age }} years</p>
{{#if user.userPlants}}
{{!-- {{#each userPlants}}
  <li>{{ this }}</li> --}}
<p>Plants in your garden: {{ numberOfPlants }}</p>
<a href="/"><button class="btn">Collect more plants</button></a><br />
{{!-- {{/each}} --}}
</ul>
{{else}}
<p>You have 0 plants in your garden, let's start collecting!</p>
<a href="/"><button class="btn">Go to catalogue</button></a><br />
{{/if}}
<a href="/profile/edit"><button class="btn">EDIT PROFILE</button></a>
<a href="/logout">Log out</a>