<div class="cover">
  <div class="cover-content">
    <button class="back-arrow" onclick="goBack()">
      <img src="../images/back-arrow.png" alt="Go back">
    </button>
  </div>
</div>
<div class="content">
  <div class="user-image">
    <img class="avatar" src="{{ user.image }}">
  </div>
  <p class="edit-profile">
    <a href="/profile/edit">Edit profile <img src="../images/icon-edit.png" alt="Edit profile"></a>
  </p>
  <div class="user-info">
    {{#if user.userName}}
    <h2>{{ user.userName }}</h2>
    {{else}}
    <h2>{{ user.userEmail }}</h2>
    {{/if}}
    <h5>{{ user.location }} ({{ user.age }} years)</h5>
  </div>

  <div class="plants-showcase">
    {{#if user.userPlants}}
    {{#each user.userPlants}}

    <div class="plant-card">
      <img class="plant-img" src="{{this.userPics.[0].imgPath}}">
      <div class="card-info">
        <div class="left">
          <h4 class="no-margin">{{this.nickname}}</h4>
          <h5 class="no-margin">{{this.shoppingPoint}}</h5>
        </div>
        <div class="right">
          <a href="/mygarden/{{this._id}}">
            <button class="btn-plus">+</button>
          </a>
        </div>
      </div>
    </div>

    {{/each}}
  </div>
  {{else}}

  <p>You have 0 plants in your garden, let's start collecting!</p>
  <a href="/"><button class="btn">Go to catalogue</button></a><br />
  {{/if}}
  <div class="centered">
    <a href="/"><button class="btn btn-centered">collect more plants</button></a>
    <a href="/profile/edit"><button class="btn btn-outlined btn-centered">edit profile</button></a>
    <a href="/logout"><button class="btn btn-centered">log out</button></a>
  </div>
</div>