<div id="container-center">
  <h4>My profile</h4>
  <br>
  <h2 class="h2-color">Hi {{ user.userEmail }}</h2>
  <br>
  <img class="avatar" src="{{ user.image }}">
  <br>
  <p>{{ user.location }} &nbsp; | &nbsp; {{ user.age }} years</p>
  <br>
  {{#if user.userPlants}}
  <p>Plants in your garden: {{ numberOfPlants }}</p>
  <br>
  <a href="/"><button class="btn">collect more plants</button></a>
  <br>
  </ul>
  {{else}}
  <p>You have 0 plants in your garden, let's start collecting!</p>
  <a href="/"><button class="btn">Go to catalogue</button></a><br />
  {{/if}}
  <br>
  <a href="/profile/edit"><button class="btn">edit profile</button></a>
  <br>
  <br>
  <a href="/logout"><button class="btn">log out</button></a>
</div>