<div id="container-center">
  <h4>My garden</h4>
  <h2 class="h2-color">Hi {{ user.userEmail }}</h2>
  <div class="form-group">
    {{#if user.userPlants}}
    <p class="subtitle">Plants in my garden:</p>
    <div class="myplant-card">
      {{#each user.userPlants}}
      <h3><a href="/mygarden/{{ this._id }}">{{ this.nickname }}</a></h3>
      {{#each this.userPics}}
      <img src="{{ this.imgPath }}" alt="Picture of a plant" class="plant-img">
      {{/each}}
      {{/each}}
    </div>
    {{else}}
    <p>You don't have any plant, why don't you start now?</p>
    <a href="/">Go to the catalogue</a>
    {{/if}}
  </div><br />
  <a href="/mygarden/add"><button class="btn">Add plant</button></a>
</div>