<h1>{{ plant.commonName }}</h1>
<p>{{ plant.family }}</p>
<p>{{ plant.careDifficulty }}</p>
<p>{{ plant.watering }}</p>
<p>{{ plant.img }}</p>
<p>{{ plant.careTips }}</p>
<p>{{ plant.place }}</p>
<p>{{ plant.description }}</p>