<div class="top-section" id="top">
  <button class="back-arrow" onclick="goBack()">
    <img src="../images/back-arrow.png" alt="Go back">
  </button>
</div>

<div class="content-top plant-section">
  <img src='{{ plant.img }}' alt="typeplant image" class="plant-centered">
  <h2 class="title-plant">{{ plant.commonName }}</h2>
  <p class="family">Family: {{ plant.family }}</p>
  <p>{{ plant.description }}</p>

  <h4 class="green-text">Plant Details:</h4>

  <div class="details">
    <div class="col-3">
      <img src="../images/clock.png" class="plant-icon" alt="time icon">
      <p>{{ plant.lifeLength }}</p>
    </div>
    <div class="col-3">
      <img src="../images/drop.png" class="plant-icon" alt="time icon">
      <p>{{ plant.watering }}</p>
    </div>
    <div class="col-3">
      <img src="../images/ray.png" class="plant-icon" alt="time icon">
      <p>{{ plant.careDifficulty }}</p>
    </div>
  </div>

  <h4 class="green-text">Care tips:</h4>
  <ul class="check-list">
    {{#each plant.careTips}}
    <li>{{ this }}</li>
    {{/each}}
  </ul>
  <div class="myplant-tags">
    {{#each plant.place}}
    <span>{{ this }}</span>
    {{/each}}
  </div>
</div>